* {
  background: black;
}
.content {
  color: black;
  font-family: helvetica, arial;
}
h1, h2 {
  color: rgb(79, 180, 226);
  font-family: Georgia;
}
.content::after {
  position: absolute;
  width: 200px;
  height: 200px;
  left: 5px;
  bottom: 5px;
}
